$red: #C01324
$red-hover: #9b1421
$blue: #0077b3
$blue-hover: #1b5f80

a.button
  margin: 5px
  display: inline-block
  padding: 8px 15px
  font-size: 14px
  color: #ffffff
  text-decoration: none
  text-transform: uppercase
  transition: background-color 0.3s
  
a.red-button
  background-color: $red
  &:hover
    background-color: $red-hover

.form
  label>span
    color: $red

//Модпальные окна

.modal
  h4
    text-align: center
    line-height: 1
.error-message
  color: $red
  text-align: center
  margin: 10px 0
.error-icon
  text-align: center
  display: block
  color: $red-hover
  margin: 0 auto

//Шапка сайта

.header
  background-color: rgba(255,255,255,0.9)
  position: sticky
  top: 0
  box-shadow: 0 5px 5px rgba(0,0,0,0.22)
  padding: 10px 0
  font-size: 18px
  line-height: 1.4
  text-align: center
  span
    font-weight: bold
  p
    margin: 0

.logo-header
  img
    height: 40px
    width: auto
.tel-header
  display: flex
  flex-direction: column
  justify-content: space-between
  a
    color: $blue
    text-decoration: none
    font-weight: bold
    font-size: 24px
    transition: color 0.3s
    &:hover
      color: $blue-hover

//Баннер первого экрана
.banner
  background: url("/images/bg_image.jpg") center center no-repeat
  background-size: cover
  h1
    color: #fff
    font-size: 46px
    margin-top: 50px
    font-weight: bold
    text-align: center
  .banner-window
    text-align: center
    border: 2px solid $blue
    padding: 15px
    margin: 35px auto 35px
    max-width: 450px
    background-color: #fff
  .banner-header
    h3
      margin: 0
      font-weight: bold
      font-size: 20px
    p
      margin: 0
      font-size: 20px
      color: $blue
  .banner-description
    margin: 15px 0
  .banner-form
    input
      margin-bottom: 10px
    a
      display: block
      margin: 5px 0
      font-size: 16px
  .banner-readmore
    font-size: 14px
    margin: 5px 0 0
    a
      text-decoration: none
      color: #000
      border-bottom: 1px dashed #000

//О нас
.about
  margin: 40px 0
  .about-item
    text-align: center
    img
      width: 200px
      height: auto
    p
      font-weight: bold
      font-size: 18px
      line-height: 1.3

//Смета
.smeta
  padding: 20px 0
  background: url("/images/smeta_bg.jpg") center center no-repeat
  background-size: cover