$red: #C01324
$red-hover: #9b1421
$blue: #0077b3
$blue-hover: #1b5f80
$grey: #d2d2d2
$grey-hover: #eeeeee

a.button
  margin: 5px
  display: inline-block
  padding: 8px 15px
  font-size: 14px
  color: #ffffff
  text-decoration: none
  text-transform: uppercase
  transition: background-color 0.3s
  
a.red-button
  background-color: $red
  &:hover
    background-color: $red-hover

a.blue-button
  background-color: $blue
  &:hover
    background-color: $blue-hover

h2
  text-align: center
  font-weight: bold
  font-size: 30px
  margin: 25px 0 15px
  span
    color: $blue

.form
  label>span
    color: $red
  .uk-input, .uk-select, .uk-textarea
    border: 1px solid #cbcbcb
    &:focus
      border: 1px solid $blue

.banner-readmore
  font-size: 14px
  margin: 5px 0 0
  a
    text-decoration: none
    color: #000
    border-bottom: 1px dashed #000

//Модпальные окна

.modal
  h4
    text-align: center
    line-height: 1.1
    font-size: 26px
  .banner-readmore
    text-align: center
  .form
    input
      margin-bottom: 10px
    a
      text-align: center
      display: block
      margin: 5px 0
      font-size: 16px
.error-message
  color: $red
  text-align: center
  margin: 10px 0
.error-icon
  text-align: center
  display: block
  color: $red-hover
  margin: 0 auto

//Шапка сайта

.header
  z-index: 200
  background-color: rgba(255,255,255,0.9)
  position: sticky
  top: 0
  box-shadow: 0 5px 5px rgba(0,0,0,0.22)
  padding: 10px 0
  font-size: 18px
  line-height: 1.4
  text-align: center
  span
    font-weight: bold
  p
    margin: 0

.logo-header
  img
    height: 40px
    width: auto
.tel-header
  display: flex
  flex-direction: column
  justify-content: space-between
  a
    color: $blue
    text-decoration: none
    font-weight: bold
    font-size: 24px
    transition: color 0.3s
    &:hover
      color: $blue-hover

//Баннер первого экрана
.banner
  background: url("/images/bg_image.jpg") center center no-repeat
  background-size: cover
  h1
    color: #fff
    font-size: 46px
    margin-top: 50px
    font-weight: bold
    text-align: center
  .banner-window
    text-align: center
    border: 2px solid $blue
    padding: 15px
    margin: 35px auto 35px
    max-width: 450px
    background-color: #fff
  .banner-header
    h3
      margin: 0
      font-weight: bold
      font-size: 20px
    p
      margin: 0
      font-size: 20px
      color: $blue
  .banner-description
    margin: 15px 0
  .banner-form
    input
      margin-bottom: 10px
    a
      display: block
      margin: 5px 0
      font-size: 16px

//О нас
.about
  margin: 40px 0
  .about-item
    text-align: center
    img
      width: 200px
      height: auto
    p
      font-weight: bold
      font-size: 18px
      line-height: 1.3

//Смета
.smeta
  padding: 20px 0
  background: url("/images/smeta_bg.jpg") center center no-repeat
  background-size: cover
  .smeta-header
    color: #000
    font-size: 20px
    font-weight: bold
    text-align: center
    span
      color: #0077b3
      font-weight: normal
  .smeta-calc
    background-color: #fff
    border: 2px solid $blue
    padding: 15px
    input, select
      margin-bottom: 10px
    .form a
      text-align: center
      display: block
      margin: 5px 0
      font-size: 16px
  .banner-readmore
    text-align: center
  .smeta-man
    text-align: center
    padding: 15px
    img
      height: 250px
      width: auto
    p
      font-size: 20px
      margin: 5px 0
      color: #000
    a
      font-size: 16px

//Сервисы
.service
  padding: 10px 0 25px
.item-service
  text-align: center
  img
    width: 220px
    height: auto
  p
    margin-bottom: 10px
    font-weight: bold
    font-size: 18px
    line-height: 1.3

//Варианты исполнения
.variant
  padding: 10px 0 25px
  .wrapper-variant
    padding: 10px
    border: 3px solid $grey
    text-align: center
    font-size: 18px
    transition: border 0.3s
    &:hover
      border: 3px solid $blue
  .header-variant
    font-weight: bold
    font-size: 22px
    color: #000
    margin: 8px 0
  ul
    margin: 10px 0
    text-align: left
  .list-variant-two
    span
      font-weight: bold
    ul
      list-style-image: url("/images/check.svg")

//Отзывы
.comments
  padding: 20px 0 10px
  background: url("/images/comments.jpg") center center no-repeat
  background-size: cover
  .item-comments
    background-color: #fff
    border: 2px solid $grey
    padding: 8px
    transition: border 0.3s
    &:hover
      border: 2px solid $blue
    .date-comment
      margin-bottom: 5px
    .img-comment
      width: 100%
      height: 250px
      background-size: contain
      background-repeat: no-repeat
    .block-comment
      text-align: center
    .name-comment
      font-size: 24px
      line-height: 1.2
      color: #000
      margin: 10px 0 8px
    .size-comment
      font-size: 18px
  .owl-nav
    margin-top: 8px
    text-align: center

//Топ
.top
  padding-bottom: 25px
  .top-list
    align-items: center
    img
      width: 100%
  .top-readmore
    text-align: center

//Процесс
.process
  ul
    margin: 0
    list-style: none
    display: flex
    flex-wrap: wrap
    li
      padding: 25px
      width: calc(50% - 50px)
      display: flex
      align-items: center
      transition: background-color 0.3s
      &:hover
        background-color: $grey-hover
        .process-number
          background-color: $red-hover
  .process-number
    padding: 14px 28px
    border-radius: 37px
    font-size: 32px
    background: $blue
    color: #fff
    transition: background-color 0.3s
  .process-desc
    font-size: 18px
    line-height: 1.2
    a
      font-size: 18px
    span
      display: block
      color: $red-hover
      font-weight: bold
      font-size: 22px
  img
    margin: 0 15px
    height: 85px
    width: auto

//Стоимость ремонта
.calc-build
  margin-top: 15px
  padding: 20px 0
  background: url("/images/smeta_bg.jpg") center center no-repeat
  background-size: cover
  label
    font-size: 18px
    line-height: 1.2
    span
      display: block
      font-size: 16px
      color: $blue
      margin-bottom: 8px
  .calc-button
    display: block
    text-align: center
    margin: 15px 0
    a
      font-size: 18px
  .banner-readmore
    text-align: center
    margin-bottom: 20px

//Портфолио
.portfolio
  .item-portfolio
    padding: 10px
    border: 2px solid $grey
    transition: border 0.3s
    &:hover
      border: 2px solid $blue-hover
    p
      margin: 0 10px
    .header-portfolio
      text-transform: uppercase
      font-size: 22px
      color: $blue
      line-height: 1.2
      text-align: center
      margin-bottom: 15px
    .info
      color: #000
      font-weight: bold
    .price-portfolio
      font-weight: bold
      font-size: 30px
      color: $red
      text-align: center
      margin: 10px 0
    .img-portfolio-wrapper
      position: relative
      padding-top: 56%
      margin: 8px 0 8px
      &:before
        display: block
        content: ""
        width: 100%
      .img-portfolio-content
        position: absolute
        top: 0
        right: 0
        left: 0
        bottom: 0
        background: $grey center center no-repeat
        background-size: cover
        opacity: 0.8
        transition: opacity 0.3s
        &:hover
          opacity: 1
    .portfolio-before:after
      content: "до"
      position: absolute
      display: inline-block
      top: 15px
      left: 15px
      background-color: $blue
      color: #fff
      font-size: 18px
      padding: 1px 10px 4px
    .portfolio-after:after
      content: "после"
      position: absolute
      display: inline-block
      top: 15px
      left: 15px
      background-color: $blue
      color: #fff
      font-size: 18px
      padding: 1px 10px 4px
    .more-portfolio
      text-align: center
      .button
        margin: 8px 0
  .owl-nav
    margin-top: 8px
    text-align: center